<!DOCTYPE html>
<html>
<body>
<center>
<br><br><br>
<h1>We would love to hear from you!</h1>
 <h3>Please take a moment to let us know about your experience.</h3>
 <br>
 <br>

<form action="/predict" method="POST">

<b> Name:</b>
  <input type="text" name="Name" value="">
  <br>
  <br>
<b> Experience :</b>
  <input type="text" name="Feedback" value="">
  <br>
  <br>
  <input type="submit" value="Submit">
</form> 

<p>If you click the <b>"Submit"</b> button, the form-data will be sent.</p>
</center>
</body>
</html>